{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} | Ajouter une île{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col s12 m12 l12">
                <h4>Ajout d'une île</h4>
            </div>
        </div>
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}